/*style for the board container*/
.board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    width: 30rem;
    height: 30rem;
    margin: 1rem auto;
    background-color:#881c1a;
    padding: 1.5rem;
}

/*style for each tile*/
.tile{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9e2d0;
    color: #9a2221;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s, transform 0.2s;
}


/*style for the empty tile with value zero*/
.tile.empty{
    background-color: transparent;
    cursor: default;
}