#root {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

.title{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  color: #9a2221;
  margin-bottom: 2rem;
}

#validMoves{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2rem;
  color: #9a2221;
  margin-top: 1rem;
}

#newGameButton{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 0.5rem;
  background-color: #9a2221;
  color: #e9e2d0;
  border: none;
}
#newGameButton:hover{
  background-color: #700f0d;
  border: none;
}
